@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
}

.gradient-text {
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(to right, #E62314, 70%,#F19E18);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}